#favorite-qoutes,
#created-qoutes {
  flex-wrap: wrap;
  position: absolute;
  left: 0;
  right: 0;
  max-width: 70rem;
  margin: 0 auto;
  font-size: $s-size;
  color: $pulpWhite;
  text-shadow: $shadowThin;
  word-break: break-all;

  span {
    display: block;
    padding: .5rem 0;
  }

  .qoute-container {
    position: relative;
    flex: 1;
    text-align: center;
    margin: 2rem;
    padding: 2rem;
    border: 1px dotted $pulpDarkRed;
    background: rgba(0,0,0,.8);

    .create {
      margin-top: 5rem;
    }

    button {
      padding: .4rem;
      background: transparent;
      color: $pulpDarkRed;
      border: none;

      &:hover {
        cursor: pointer;
        color: $pulpLightRed;
      }
    }

    .delete {
      position: absolute;
      bottom: 5px;
      left: 15px;
    }

    .save-edit {
      position: absolute;
      bottom: 5px;
      right: 15px;
    }
  }
}

#created-qoutes {
  top: 40rem;
}

#favorite-qoutes {
  top: 8rem
}