$pulpLightYellow : #fffc33f3;
$pulpYellow : #ffc600;
$pulpLightRed : rgb(228,54,11);
$pulpDarkRed : rgb(151, 30, 21);

$pulpBlack : #000;
$pulpWhite: #fff;


$shadow: 2px 2px $pulpBlack;
$shadowThin: 1px 1px $pulpBlack;
$shadowLight: 1px 1px $pulpLightRed;
$shadowActive: 0px 2px $pulpWhite;