@import 'variables.scss';
@import 'utilities.scss';
@import 'qoutesStyle';
// mediaqueries and qouteStyles import on bottom of page

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// @font-face  {
//   font-family: varSity;
//   src: url(/dist/VarsityTeam-Bold.otf)
// }

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: $pulpBlack;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  font-size: calc(6px + 0.8vw);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

// Navigation 
#main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  position: fixed;
  width: 100%;
  font-size: $s-size;
  padding: $s-size;
  background: rgba(0,0,0,.95);

  ul {
    display: flex;
  }

  li {
   padding: .5rem 1rem;
  }

  a {
    color: $pulpWhite;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: .2rem;
    font-weight: 600;
    transition: border .3s ease;

    &:hover {
      border-color: $pulpLightRed;
    }

    &.current {
      border-color: $pulpYellow;
    }
  }

  .fas {
    font-size: $m-size;
  }
}

#main {
  height:  100vh;


  // Home
  &-home {
    .container {
      background: url(../img/mia.jpeg) no-repeat center center/cover;
    }

    #main-heading {
      color: $pulpYellow;
      font-size: $xl-size;
      text-shadow: $shadow;
      font-family: varSity;
      margin-bottom: 5rem;
      
      span {
        display: block;
      
        &:nth-child(1) {
          font-size: $xl-size;
          margin-bottom: 2rem;
        }
    
        &:nth-child(3),
        &:nth-child(4) {
          color: $pulpLightRed;
          text-decoration: 1px underline $pulpWhite;
        }
      }
    }

    .get-qoute {
      color: $pulpBlack;
      background: $pulpWhite;
      font-size: $s-size;
      box-shadow: $shadow;

      &:hover {
        background: $pulpYellow;
      }
    }
  }

  // Qoutes
  &-qoutes {
    min-height: 100vh;
    color: $pulpYellow;

    .container {
      background: url(../img/jimmieWolf.png) no-repeat center center/cover;
    }

    #the-qoute {
      font-size: $l-size;
      color: $pulpWhite;
      padding: 2rem;
      max-width: 100rem;
      min-height: 30rem;
      margin: auto;
      text-shadow: $shadow;

      span {
        display: block;
        padding: 1rem 0;
      }

      // The signature name for qoute
      :nth-child(2) {
        text-transform: capitalize;
        color: $pulpYellow;
        font-size: $s-size;
      }
    }

    .buttons-container {
      #qoute-button {
        background-color: $pulpDarkRed;
        color: $pulpWhite;
  
        &:hover {
          background-color: $pulpLightRed;
        }
      }
  
      #like-button {
        background-color: $pulpYellow;
        
  
        &:hover {
          background-color: $pulpLightYellow;
        }
  
        i {
          margin: 0 1rem
        }
      }
    }
  }

  // Favorites 
  &-favorites {
   
    #favorites-heading {
      font-size: $xl-size;
      padding-bottom: 2rem;
      color: $pulpLightYellow;
      text-shadow: $shadowLight;
      font-family: varSity;
    }

    #favorite-qoutes {

      // name of character qouted
      .favorite-qoute {
        :last-child {
          text-transform: capitalize;
          color: $pulpWhite;
          color: $pulpYellow;
        }
      }
    }
  }

  // Created
  &-created {
    .header-content {
      position: absolute;
      top: 15rem;
      right: 0;
      left: 0;
      text-shadow: $shadow;
      padding: 0 1rem;
  
      #write-heading {
        font-size: $xl-size;
        padding-bottom: 2rem;
        color: $pulpLightYellow;
        text-shadow: $shadowLight;
        font-family: varSity;
      }

      .line-break {
        max-width: 40rem;
      }
    }

    // Textarea for creating qoutes
    .form-qoutes-container {
      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 80vw;
        // min-height: 25rem;
        padding: $s-size;
        margin: 2rem auto;
        border: 1px dotted rgba($pulpDarkRed, .4);

        position: absolute;
        top: 8rem;
        right: 0;
        left: 0;

        // button
        #add-created .btn{
          background-color: darken($pulpWhite, 10%);
          padding: .1rem .2rem;

          &:hover {
            background: $pulpYellow;
          }
        }
  
        // textarea for typing own qoute
        #qoute-text {
          width: 40rem;
          max-height: 15rem;
          line-height: 1.5rem;
          text-align: center;
          padding: 2rem;
          background: transparent;
          border: none;
          color: $pulpWhite;
          font-weight: bold;
          font-size: $s-size;
          text-shadow: $shadowThin;
          resize: none;
  
          ::placeholder {
            background: rgba($pulpDarkRed, .4);
            color: $pulpWhite;
          }
        }
  
        // name before adding
        #signature {
          text-align: center;
          padding: 1rem 0;
          border: none;
          background: transparent;
          color: $pulpYellow;
          font-size: $s-size;
          text-shadow: $shadowThin;
          font-weight: bold;
        }
      }
    }

    // Qoutes format after added
    #created-qoutes {
      .qoute-container {        
        margin: 2rem;

        .created-qoute {
          position: relative;
          outline: none;
        }
  
        .signature {
          padding-top: 1rem;
          padding-bottom: 2rem;
           color: $pulpYellow;
        }
      }
    }
  }
}
@import 'mediaQueries';