@import 'variables.scss';
@import 'utilities.scss';
// mediaqueries and qouteStyles import on bottom of page

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face  {
  font-family: varSity;
  src: url(/dist/VarsityTeam-Bold.otf)
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: $pulpBlack;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

// Navigation 
#main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  z-index: 1;
  position: sticky;
  font-size: 1.5rem;
  font-family: sans-serif;
  border-bottom: 1px solid rgba($pulpWhite, .5);

  ul {
    display: flex;
  }

  li {
   padding: 1rem 1.5rem;
  }

  a {
    color: $pulpWhite;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
   padding-bottom: .2rem;
    font-weight: 600;

    &:hover {
      border-color: $pulpLightRed;
    }

    &.current {
      border-color: $pulpYellow;
    }
  }

  .fas {
    font-size: 3rem;
  }
}



#header {
  // Home
  &-home {
    height: 100vh;
    background: url(../img/mia.png) no-repeat center center/cover;

    #main-heading {
      color: $pulpLightYellow;
      font-size: 3rem;
      margin-bottom: 15rem;
      text-shadow: $shadow;
      font-family: varSity;

      span {
        display: block;
        

        &:nth-child(1) {
          font-size: 4rem;
          margin-bottom: 2rem;
        }
    
        &:nth-child(3),
        &:nth-child(4) {
          color: $pulpLightRed;
          text-decoration: 1px underline $pulpWhite;
        }
      }
    }

    .get-qoute {
      color: $pulpBlack;
      background: $pulpWhite;
      font-size: 1.5rem;
      box-shadow: $shadow;

      &:hover {
        background: $pulpYellow;
      }
    }
  }

  // Qoutes
  &-qoutes {
    min-height: 100vh;
    color: $pulpYellow;

    #the-qoute {
      font-size: 4rem;
      color: $pulpWhite;
      padding: 2rem;
      max-width: 100rem;
      margin: auto;
      text-shadow: $shadow;

      span {
        display: block;
        padding: 1rem 0;
      }

      // The signature name for qoute
      :nth-child(2) {
        text-transform: capitalize;
        color: $pulpYellow;
        font-size: 3rem;
      }
    }

    .buttons-container {
      position: absolute;
      bottom: 15rem;
      right: 0;
      left: 0;

      #qoute-button {
        background-color: $pulpDarkRed;
        color: $pulpWhite;
  
        &:hover {
          background-color: $pulpLightRed;
        }
      }
  
      #like-button {
        background-color: $pulpYellow;
        
  
        &:hover {
          background-color: $pulpLightYellow;
        }
  
        i {
          margin: 0 1rem
        }
      }
    }
  }

  // Favorites 
  &-favorites {
    height: 100vh;

    .header-content {
      position: absolute;
      top: 15rem;
      left: 0;
      right: 0;

      .line-break {
        max-width: 18rem;
      }
    }

    #favorites-heading {
      font-size: 4rem;
      padding-bottom: 2rem;
      color: $pulpLightYellow;
      text-shadow: $shadowLight;
      font-family: varSity;
    }

    #favorite-qoutes {
      top: 20rem;
      color: $pulpWhite;

      // name of character qouted
      .favorite-qoute {
        :last-child {
          text-transform: capitalize;
          color: $pulpWhite;
          color: $pulpYellow;
        }
      }

      // delete button
      .button-container {
        float: left;
      }
    }
  }

  // Created
  &-created {
    .header-content {
      position: absolute;
      top: 15rem;
      right: 0;
      left: 0;
      text-shadow: $shadow;
      padding: 0 1rem;
  
      #write-heading {
        font-size: 4rem;
        padding-bottom: 2rem;
        color: $pulpLightYellow;
        text-shadow: $shadowLight;
        font-family: varSity;
      }

      .line-break {
        max-width: 40rem;
      }
    }

    // Textarea for creating qoutes
    .form-qoutes-container {
      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 40rem;
        min-height: 25rem;
        padding: 2rem;
        margin: 2rem auto;
        border-top: 1px solid $pulpDarkRed;

        position: absolute;
        top: 25rem;
        right: 0;
        left: 0;

        // button
        #add-created .btn{
          background-color: darken($pulpWhite, 10%);
          padding: .1rem .2rem;

          &:hover {
            background: $pulpYellow;
          }
        }
  
        // textarea for typing own qoute
        #qoute-text {
          width: 40rem;
          height: 20rem;
          line-height: 5rem;
          text-align: center;
          padding: 2rem;
          background: transparent;
          border: none;
          color: $pulpWhite;
          font-weight: bold;
          font-size: 3rem;
          text-shadow: $shadowThin;
          resize: none;
  
          ::placeholder {
            line-height: 20rem;
            background: rgba($pulpDarkRed, .4);
            color: $pulpWhite;
          }
        }
  
        // name before adding
        #signature {
          text-align: center;
          padding: 1rem 0;
          border: none;
          background: transparent;
          color: $pulpYellow;
          font-size: 2rem;
          text-shadow: $shadowThin;
          font-weight: bold;
        }
      }
    }

    // Qoutes format after added
    #created-qoutes {
      .qoute-container {        
        .created-qoute {
          position: relative;
          outline: none;
        }
  
        .signature {
          padding-top: 1rem;
          padding-bottom: 2rem;
           color: $pulpYellow;
        }
  
        .button-container {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}

@import 'qoutesStyle';
@import 'mediaQueries';